.env
node_modules

Backend/public
Backend/dist
Backend/.env.local
Backend/.sentryclirc

React_Project/.env.sentry-build-plugin
React_Project/.env
React_Project/node_modules
React_Project/dist

Graphql_Server/dist
Graphql_Server/.env.local