@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.reactMarkDown ol {
    list-style: decimal;
    padding-left: 2rem;
}

.reactMarkDown ul {
    list-style: circle;
    padding-left: 2rem;
}

.reactMarkDown a {
    color: blue;
    text-decoration: underline;
}
